@charset "UTF-8";
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin: 1rem;
  }
}
h2 {
  text-align: center;
  font-size: 3.5rem;
}

p {
  font-size: 2rem;
}

body {
  background-color: #ededed;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.titulo {
  font-size: 7rem;
}

.titulo__navegacion {
  color: whitesmoke;
  text-decoration: none;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 3.5rem;
  }
  .titulo__navegacion {
    font-size: 2rem;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
  }
}
.iconoEscudo {
  height: 10rem;
}

.IconoInstagram {
  height: 5rem;
}

.navegacion {
  text-align: center;
  font-size: 3.5rem;
  background-color: #e88700;
  color: black;
}

.noticias {
  text-align: center;
  font-size: 3.5rem;
}

.parrafos {
  font-size: 2rem;
  text-align: center;
}

/*Estilos Páginas Jugadores*/
.imagen__carousel {
  height: 65vh;
  width: 65vh;
}

.h5__carousel {
  font-size: 4rem;
  color: #e88700;
  -webkit-text-stroke: 1px #2A2824;
}

.parrafo__carousel {
  font-size: 3rem;
  -webkit-text-stroke: 1px black;
}

/*Estilos Páginas Posiciones y Resultados*/
.tabla__resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabla__detalles {
  text-align: center;
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .tabla__detalles {
    text-align: center;
    font-size: 2rem;
  }
}
.tpv__local {
  background-color: #ffac39;
}

.tpv__visitante {
  background-color: #ffac39;
}

/*Estilos Footer*/
.footer {
  text-align: center;
  font-size: 1.8rem;
}

/*Estilos imágenes*/
.PieDeFoto {
  font-size: 1.5rem;
}

h3 {
  text-align: center;
}

/* Estilos de Formulario*/
.parrafo__historia {
  margin-left: 20%;
  margin-right: 20%;
}

.ubicacion__formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  margin: 1rem;
  background-color: rgba(192, 192, 192, 0.397);
  width: 60rem;
  border: solid;
  font-size: 1.5rem;
}

.div__formulario {
  margin: 1rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .h5__carousel {
    font-size: 3rem;
    color: #e88700;
    -webkit-text-stroke: 1px #2A2824;
  }
  .parrafo__carousel {
    font-size: 2rem;
    -webkit-text-stroke: 1px black;
  }
}
@media (min-width: 768px) {
  .slide {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .imagen__posiciones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulo_historia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1000px) {
  .slide {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .carousel {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 1400px) {
  .slide {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .carousel {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*# sourceMappingURL=styles.css.map */
